<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center ion-text-uppercase">Iniciar Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <figure>
    <img class="ion-padding-top" src="assets/images/profile-login.jpg" alt="profile">
  </figure>

  <form [formGroup]="loginForm" (ngSubmit)="(loginUser(loginForm.value))">

    <ion-item>
      <ion-input label="Email" labelPlacement="floating" placeholder="Email" formControlName="email"></ion-input>       
    </ion-item>

    <div>
      <ng-container *ngFor="let validation of validation_messages.email">

        <div *ngIf="
        (loginForm.get('email')?.hasError(validation.type) && loginForm.get('email')?.dirty)">        
        {{validation.message}}
        </div>

      </ng-container>
    </div>

    <ion-item>
      <ion-input label="Password" labelPlacement="floating" placeholder="Password" formControlName="password"></ion-input> 
    </ion-item>

    <div>
      <ng-container *ngFor="let validation of validation_messages.password">

        <div *ngIf="
        (loginForm.get('password')?.hasError(validation.type) && loginForm.get('password')?.dirty)">        
        {{validation.message}}
        </div>

      </ng-container>
    </div>

    <ion-button 
    type="submit"
    [disabled]="!loginForm.valid"
    >
      Login
    </ion-button>
  </form>

</ion-content>
