<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-icon name="albums-outline" (click)="intro()"></ion-icon>

  <h1>Artistas</h1>
  <swiper-container slides-per-view="4" speed="400">
    <swiper-slide *ngFor="let artstis of artists">
      <ion-avatar>
        <img src="https://hips.hearstapps.com/hmg-prod/images/adele-ciatica-1672934524.jpg" alt="">
        <span>Nombre del artista</span>
      </ion-avatar>
    </swiper-slide>
  </swiper-container>

</ion-content>
